.container{
    width: 30%;
    height: 100%;
    padding: 30px;
}
.input-group{
    text-align: left;
    justify-content: left;
}
#search{
    border: 1px solid black;
    border-radius: 50px;
    width: 50%;
    height: 40px;
}
#search:hover{
    border: 1px solid black;
    border-radius: 40px;
}

#icon{
    position: absolute;
    top: 0px;
    width: 30px;
    height: 50px;
}